.button-warning {
	background: rgb(223, 117, 20); /* this is an orange */
}
.button-delete{
	background: #c53d43;
}
.button-update{
	background:#dccb18;
}
body{
	background-color: #f5f5f5;
	font-family: "微软雅黑",Tahoma, Helvetica, Arial, "Microsoft Yahei", STXihei, "华文细黑", sans-serif;
}
.card{
	height: 200px;
border:1px solid #eee;
margin-right: 10px;
margin-bottom: 10px;
padding:8px 20px 0px 20px;
-webkit-box-shadow:0 1px 2px #aaa;
box-shadow:0 1px 2px #aaa;
border-radius:8px;
background:white;
padding-bottom:10px;
}
.img-avatar{
	float: right;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}
